* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "descView profileView socialView"
    "descView profileView socialView"
    "descView profileView socialView";
  text-align: center;
  grid-auto-flow: row;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: nav;
}
.menu {
  display: none;
  visibility: hidden;
}
.myName {
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.myName p {
  font-family: "Comfortaa", cursive;
  font-size: 23px;
  font-weight: 700;
}
.mobilePix {
  display: none;
  visibility: hidden;
}
.navItem {
  padding-right: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navItem p {
  margin-left: 50px;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  cursor: pointer;
}
.navItem p:active {
  color: #fad746;
}
.descView {
  grid-area: descView;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.descView p {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  font-size: 1.3rem;
  font-family: "Comfortaa", cursive;
  margin-bottom: 30px;
}
.descView h2 {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  font-size: 3rem;
  font-family: "Comfortaa", cursive;
  line-height: 1.5;
  font-weight: 500;
}
.sp1 {
  color: #fad746;
}
.sp2 {
  color: #fad746;
}
.btnProject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 700;
  background: #fad746;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 30px;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.profileView {
  grid-area: profileView;
  display: flex;
  justify-content: center;
}
.picture {
  background: url(/image/ProfilePic.png) no-repeat;
  background-size: contain;
  width: 60%;
  margin-top: 8rem;
}
.socialView {
  grid-area: socialView;
  display: flex;
  flex-direction: column;
}
.emptyDiv {
  height: 50%;
}
.socialIcons {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}
.stack {
  background: url(/image/stack.png) no-repeat;
  background-size: contain;
  width: 2rem;
  height: 20%;
  cursor: pointer;
}
.git {
  background: url(/image/git.png) no-repeat;
  background-size: contain;
  width: 2rem;
  height: 20%;
  cursor: pointer;
}
.linkd {
  background: url(/image/linkd.png) no-repeat;
  background-size: contain;
  width: 2rem;
  height: 20%;
  cursor: pointer;
}
.cover {
  display: none;
}

/* PROJECT SECTION */

.projects {
  height: 100vh;
  background: grey;
}

@media only screen and (max-width: 720px) {
  .container {
    /* grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
      "nav"
      "descView"
      "socialView"; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    align-items: center;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: #fad746; */
    position: absolute;
    top: 40px;
    right: 30px;
    border-radius: 20px;
    position: fixed;
    cursor: pointer;
    visibility: visible;
    z-index: 6;
  }
  .menuBtn {
    background: url(/image/MenuBtn.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cover {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 100%;
  }
  .options p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", cursive;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 1s;
    width: 80%;
    height: 25%;
  }
  .options p:hover {
    background: #fad746;
    text-transform: uppercase;
  }

  .myName {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }
  .myName p {
    font-size: 1rem;
    margin-top: 90px;
    width: 100%;
    text-align: left;
    padding: 0 0 0 20px;
  }
  .mobilePix {
    display: flex;
    position: absolute;
    top: 30px;
    margin: 0 0 0 20px;
    visibility: visible;
    width: 80px;
    height: 80px;
  }
  .navItem {
    display: none;
  }
  .navItem p {
    display: none;
  }
  .descView {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin-top: 40px;
  }
  .descView p {
    font-size: 0.85rem;
    text-align: left;
    padding: 0 0 0 20px;
    margin: 0;
    margin-top: 30px;
    width: 100%;
    height: 5%;
  }
  .descView h2 {
    font-size: calc(25px + (26 - 25) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
    padding: 0 0 0 20px;
    width: fit-content;
    font-weight: 700;

    margin-top: 5px;
    height: 50%;
  }
  .btnProject {
    margin-left: 20px;
    margin: left;
    width: 180px;
    height: 40px;
    text-align: right;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-top: 60px;
    color: black;
    cursor: pointer;
  }
  .socialView {
    width: 100%;
    height: 25%;
    margin-top: 50px;
  }
  .socialIcons {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .stack {
    background: url(/image/stack.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .git {
    background: url(/image/git.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkd {
    background: url(/image/linkd.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileView {
    display: none;
  }
  .emptyDiv {
    display: none;
  }
}
