<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />

    <title>Atobiloye Usama Adedayo</title>
  </head>

  <body ontouchstart>
    <section class="container">
      <div class="nav">
        <div class="menu">
          <div class="menuBtn"></div>
          <!-- <img
            src="https://img.icons8.com/ios-glyphs/30/000000/menu-rounded.png"
            class="open"
          /> -->
          <!-- <img
            src="https://img.icons8.com/ios-glyphs/30/000000/delete-sign.png"
            class="close"
          /> -->
        </div>
        <div class="myName">
          <img class="mobilePix" src="/image/ProfilePic.png" alt="" />
          <p>Atobiloye Usama Adedayo</p>
        </div>
        <div class="navItem" id="navItem">
          <p>About</p>
          <p>Project</p>
          <p>Contact</p>
        </div>
      </div>
      <div class="cover">
        <div class="options">
          <p>About</p>
          <p>Project</p>
          <p>Contact</p>
        </div>
      </div>
      <div class="descView">
        <p>Hello there!</p>
        <h2>
          I’m a <span class="sp1">software engineer</span>, that
          <span class="sp2">develops</span> amazing web and mobile applications.
        </h2>
        <div id="btnProject" class="btnProject">
          View Projects
        </div>
      </div>
      <div class="profileView">
        <div class="picture"></div>
      </div>
      <div class="socialView">
        <div class="emptyDiv"></div>
        <div class="socialIcons">
          <div class="stack"></div>
          <div class="git"></div>
          <div class="linkd"></div>
        </div>
      </div>
    </section>
    <!-- <section class="projects"></section> -->
  </body>
  <script src="js/f.js"></script>
</html>
