<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Atobiloye Usama Adedayo</title>
  </head>

  <body>
    <section class="container">
      <div class="nav">
        <div class="myName">
          <p>Atobiloye Usama Adedayo</p>
        </div>
        <div class="navItem">
          <p>About</p>
          <p>Project</p>
          <p>Contact</p>
        </div>
      </div>
      <div class="descView">
        <p>Hello there!</p>
        <h2>
          I’m a <span class="sp1">software engineer</span>. I
          <span class="sp2">develop</span> amazing web and mobile applications.
        </h2>
        <div class="btnProject">
          View Projects
        </div>
      </div>
      <div class="profileView">
        <div class="picture"></div>
      </div>
      <div class="socialView">
        <div class="emptyDiv"></div>
        <div class="socialIcons">
          <div class="stack"></div>
          <div class="git"></div>
          <div class="linkd"></div>
        </div>
      </div>
    </section>
    <section class="projects"></section>
  </body>
</html>
